html:root {
    --pink: #F200DA;
    --pinkVar1: #F235DF;
    --pinkVar2: #F26BE5;
    --pinkVar3: #F280E7;
    --pinkVar4: #FFA1F6;
    --pinkFilter1: #F200DA80;
    --pinkFilter2: #F200DA4d;
    --pinkFilter3: #F200DAcc;
    --red: #F21000;
    --redVar1: #F24235;
    --redVar2: #F2746B;
    --redVar3: #F48B84;
    --redVar4: #FFA8A1;
    --redFilter1: #F2100080;
    --redFilter2: #F210004d;
    --redFilter3: #F21000cc;
    --orange: #F28500;
    --orangeVar1: #F29D35;
    --orangeVar2: #F2B56B;
    --orangeVar3: #F5C289;
    --orangeVar4: #FFD4A4;
    --orangeFilter1: #F2850080;
    --orangeFilter2: #F285004d;
    --orangeFilter3: #F28500cc;
    --yellow: #F2CA00;
    --yellowVar1: #F2D335;
    --yellowVar2: #F2DC6B;
    --yellowVar3: #F2E088;
    --yellowVar4: #FFF1A8;
    --yellowFilter1: #F2CA0080;
    --yellowFilter2: #F2CA004d;
    --yellowFilter3: #F2CA00cc;
    --lime: #B7F500;
    --limeVar1: #C4F535;
    --limeVar2: #D2F56D;
    --limeVar3: #D7F482;
    --limeVar4: #E2FFA1;
    --limeFilter1: #B7F50080;
    --limeFilter2: #B7F5004d;
    --limeFilter3: #B7F500cc;
    --green: #2AF500;
    --greenVar1: #55F534;
    --greenVar2: #81F569;
    --greenVar3: #92F47E;
    --greenVar4: #B3FFA1;
    --greenFilter1: #2AF50080;
    --greenFilter2: #2AF5004d;
    --greenFilter3: #2AF500cc;
    --spring: #00F478;
    --springVar1: #35F596;
    --springVar2: #6CF5AF;
    --springVar3: #85F5BC;
    --springVar4: #A7FFD0;
    --springFilter1: #00F47880;
    --springFilter2: #00F4784d;
    --springFilter3: #00F478cc;
    --cyan: #01F5EF;
    --cyanVar1: #35F4F2;
    --cyanVar2: #6BF4F2;
    --cyanVar3: #86F5F4;
    --cyanVar4: #AFFFFB;
    --cyanFilter1: #01F5EF80;
    --cyanFilter2: #01F5EF4d;
    --cyanFilter3: #01F5EFcc;
    --blue: #0082F5;
    --blueVar1: #369CF4;
    --blueVar2: #6BB5F5;
    --blueVar3: #83C2F5;
    --blueVar4: #A0D4FF;
    --blueFilter1: #0082F580;
    --blueFilter2: #0082F54d;
    --blueFilter3: #0082F5cc;
    --darkBlue: #002DF5;
    --darkBlueVar1: #3658F5;
    --darkBlueVar2: #6C84F5;
    --darkBlueVar3: #8197F5;
    --darkBlueVar4: #A5B6FF;
    --darkBlueFilter1: #002DF580;
    --darkBlueFilter2: #002DF54d;
    --darkBlueFilter3: #002DF5cc;
    --purple: #8B00F5;
    --purpleVar1: #A236F5;
    --purpleVar2: #B96BF5;
    --purpleVar3: #C383F5;
    --purpleVar4: #D7A3FF;
    --purpleFilter1: #8B00F580;
    --purpleFilter2: #8B00F54d;
    --purpleFilter3: #8B00F5cc;
    --magenta: #ED00F5;
    --magentaVar1: #EF36F5;
    --magentaVar2: #F16EF5;
    --magentaVar3: #F185F4;
    --magentaVar4: #FCA3FF;
    --magentaFilter1: #ED00F580;
    --magentaFilter2: #ED00F54d;
    --magentaFilter3: #ED00F5cc;
    --grey: #c8c8c8;
    --greyFilter1: #c8c8c880;
    --greyFilter2: #c8c8c84d;
    --greyFilter3: #c8c8c8cc;
    --white: #ffffff;
    --whiteFilter1: #ffffff80;
    --whiteFilter2: #ffffff4d;
    --whiteFilter3: #ffffffcc;
    --black: #000000;
    --blackFilter1: #00000080;
    --blackFilter2: #0000004d;
    --blackFilter3: #000000cc;
}

@media (max-width: 768px) {
    #all {
        padding: 15px;
        width: 90%;
    }

    input, button {
        font-size: 14px;
    }
}

/* Responsividade para telas muito pequenas (mobile) */
@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    input, button {
        font-size: 12px;
        padding: 8px;
    }
}