body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10%;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
}

.integrantes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.integrante {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    transition: 0.3s;
}

.integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.integrante:hover {
    transform: scale(1.25);

}

.integrante span {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

@media (max-width: 420px) {
    h1 {
        margin: 0.6em 0;
    }
    .menu-container, .integrantes-container {
        flex-direction: column;
    }
    .menu-container {
        margin: 1em;
    }
    .integrantes-container {
        margin: 0;
        gap: 1em;
    }
    .box {
        height: 3em;
    }
    .integrante {
        margin: 0;
    }
    .integrante:hover {
        transform: scale(1.1);
    }
}